@charset "utf-8";

/* ---------------------------- */
/* format */
/* ---------------------------- */
* {
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #fff;
    color: #fff;
	font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    font-size: 16px;
    overflow-x: hidden;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(../images/main01.jpg);
	background-size: cover;
	background-position: center;
}

a {
	color: #fff;
	text-decoration: none;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

#allpage {
	width: 80%;
	margin: 0 auto;
}

/* ------- section format ------- */
.section {
	background: rgba(0,0,0,0.3);
}

.title {
	width: 95px;
	height: 197px;
	background: url(../images/0.png);
	background-size: 100%;
	text-align: center;
	vertical-align: middle;
	line-height:197px;
}




/* ---------------------------- */
/* top navigation */
/* ---------------------------- */
nav {
	width: 80%;
}

#menu { 
	margin-top: 15px;
	position: fixed; 
	left: 10%; 
	top: 0px; 
	list-style-type: none; 
	z-index: 70; 
	width: 80%;	
}

#menu li { 
	width: 20%;
	margin: 0;
	font-size: 100%;
	text-align: center;
	background-color: rgba(10,10,10,1);
}

#menu a {
	display: block;
}

#menu a:hover { 
	background-color: rgba(255,255,0,0.8);
	color: #000;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

#drop-ul li{ 
	width:100%; 
	line-height:25px;
} 

.lb {
	border: 1px solid yellow;
}

.lt {
	border: 1px solid yellow;
}

.right {
	border: 1px solid yellow;
}

/* ---------------------------- */
/* section home */
/* ---------------------------- */
#home {
	padding: 0 50px;
	text-align: center;
}

#logo {
	margin: 0 auto;
}

#logo img {
	height: 300px;
}

#news {
	margin-top: 1%;
	font-size: 80%;
	letter-spacing: 3px;
}	

#news i {
	color: #ff0;
	font-size: 100%;
}

@media only screen and (max-width: 1024px) {
    #logo img {
		height: 250px;
	}
	#news {
		margin-top: 5%;
	}	
}

@media only screen and (max-width: 800px) {
    #logo img {
		height: 200px;
	}
	#news {
		display: none;
	}
}
@media only screen and (max-height: 500px) {
	#logo img {
		height: 200px;
	}
	#news {
		display: none;
	}
}

/* ------- button ------- */
#btn {
	margin: 0 auto;
	text-align: center;
}

.btn:link,
.btn:visited {
	margin-top: 20px;
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 80%;
	padding: 4px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: backgroung-color 0.5s,border 0.5s,color 0.5s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #ff0;
	border: 2px solid #ff0;
	color: #000;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 2px solid #ff0;
	color: #ff0;
}

.btn:hover,
.btn:active {
	background-color: #dd0;
}

.btn-full:hover,
.btn-full:active {
	border: 2px solid #dd0;
	color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 2px solid #dd0;
	color: #fff;
}




/* ---------------------------- */
/* section content */
/* ---------------------------- */
.section-content {
	
}

/* ---------------------------- */
/* section food */
/* ---------------------------- */
.section-food {
	
}

/* ---------------------------- */
/* section access */
/* ---------------------------- */
.section-access {
	
}

/* ---------------------------- */
/* section notice */
/* ---------------------------- */
.section-notice {
	
}



/* ---------------------------- */
/* footer */
/* ---------------------------- */
.footer {
    border-top: 1px solid #fff;
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
}

.info {
	float: left;
	font-size: 80%;
}

.info p {
	margin-left: 20%;
}

.social-links {
	float: left;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-align: center;
    background-color: 0;
}

.social-links li {
    display: inline-block;
	margin: 0 20px;
}

.social-links a {
    display: block;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.5s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-youtube:hover {
    color: #800000;
}

.copyright {
	float: left;
    margin-top: 10px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 80%;
}


